---
layout: page
title: "Message Board"
description: "刘兵的博客"
---
{% include JB/setup %}

<main class="col-md-8 main-content">
    <div class="post page">
        <div class="d-block">
            <p title="Welcome to my blog.">欢迎来到我的博客.</p>
            <p title="You can leave messages to me if you have any suggestions or questions.">如果你有任何问题或建议可以在这里给我留言.</p>
            <hr/>
        </div>
    </div>
    <div style="height:111px;">
    </div>
    <div class="comments">
        {% include JB/comments %}
    </div>
</main>
