.mr20 {
	margin-right: 20px;
}

.latestTool {
	/*width: 300px;
	float: left;*/
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f6fcff;
	position: relative;
	z-index: 1;
}

.latestTool img {
	float: left;
	margin-right: 10px;
	width: 96px;
}

.latestTool .intro,.detailIntro {
	height: 64px;
	/*float: right;
	width: 194px;*/
	margin: 5px 0;
	overflow: hidden;
}

.latestTool .tags,.detailTags {
	/*float: right;
	width: 194px;*/
	font-size: 12px;
	color: #909090;
}

.boxShadow {
	box-shadow:2px 2px 10px #AAA ;
	-moz-box-shadow: 2px 2px 10px #AAA ;
	-webkit-box-shadow: 2px 2px 10px #AAA ;
	background-color: #dff5fe;
}
