<div class="page-header">
    <h1>
        [<a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ page.category }}-ref">{{ page.category }}</a>] {{ page.title }}
        <small>-- {{ page.date | date_to_long_string }} </small>
    </h1>
</div>

<div class="col-md-8 main-content">
    <div class="post page">
        {{ content }}
    </div>
    <div class="text-center">
        <div class="pagination">
            <ul>
                {% if page.previous %}
                <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="icon-fixed-width icon-arrow-left"></i> Previous</a></li>
                {% else %}
                <li class="prev disabled"><a><i class="icon-fixed-width icon-arrow-left"></i> Previous</a></li>
                {% endif %}
                <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
                {% if page.next %}
                <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}"><i class="icon-fixed-width icon-arrow-right"></i> Next</a></li>
                {% else %}
                <li class="next disabled"><a><i class="icon-fixed-width icon-arrow-right"></i> Next</a>
                    {% endif %}
            </ul>
        </div>
    </div>
    <div class="comments">
        {% include JB/comments %}
    </div>
</div>
<div class="col-md-4 sidebar">
    <div class="widget">
        {% unless page.tags == empty %}
        <div class="sidebar-title"><i class="icon-fixed-width icon-tags"></i> Tags</div>
        <ul class="tag_box inline">
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        </ul>
        {% endunless %}
    </div>

    <div class="widget">
        <div class="sidebar-title"><i class="icon-fixed-width icon-file-text"></i> Related</div>
        <ul>
            {% for related_post in site.related_posts limit:5 %}
            <li><a href="{{ BASE_PATH }}{{ related_post.url }}">{{ related_post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- Baidu Button BEGIN -->
    {% include JB/sharing %}
    <!-- Baidu Button END -->
</div>
